@model EximBd960.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <link rel="stylesheet" href="../../Content/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="../../Content/css/style.css">
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

    <form>
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="get" class="register-form" id="register-form">
                    <div class="form-group">

                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="UserName" id="name" placeholder="Your Name or email" required="" />
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email" />
                        </div>*@
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="Password" id="pass" placeholder="Password" required="" />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input  data-val="true"  placeholder="Repeat your password" data-val-equalto="Password didn't match" data-val-equalto-other="*.Password" data-val-required="Required." id="ConfirmPassword" name ="ConfirmPassword"  type="password" />
                        <span class="field-validation-valid error" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required="" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="../../Content/images/signup-image.jpg" alt="sing up image"></figure>
                @Html.ActionLink("I am already member", "LogIn", "Users", new { @class = "signup-image-link" })
                <a href="#" class="signup-image-link"></a>
            </div>
        </div>
    </form>
    <script src="../../Content/vendor/jquery/jquery.min.js"></script>
    <script src="../../Content/js/main.js"></script>
}
